{% extends 'index.html' %}
{% load mathfilters %}

{% block head %}
<style>
    .item {
  flex: 1;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: flex .5s ease;
}


.item {
    background-image: url('{{ pdt.image.url }}');
    height: 300px;
    width: 300px;
}


</style>

{% endblock %}

{% block topmenu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'catlist' 'All' %}">Food</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'menus' 0 %}">Menu</a>
</li>

{% if request.user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" 
    href="{% url 'showcart' request.user.id %}"

>Cart</a>
</li>
{%endif%}
{% if request.user.is_authenticated %}
<li class="nav-item active">
    <a class="nav-link" 
     href="{% url 'showorder' request.user.id %}" >Orders</a>
</li>
{%endif%}
{% endblock %}



{% block content %}

<div class="" style="margin-left:30px">

    <div class="row mx-3">
      
    
    <!--Contains the main content
        of the webpage-->
    <div class="col-9 "style="text-align: justify;">
        
        {% for cart in carts %}
        <div class="card w-100 border-0 mt-4">
        <div class="row card-body p-0 ">
        
            
            <div class="col-2 ">
                <img src="{{ cart.product.image.url }}" class="w-100">
            </div>
            <div class="col-9 mt-2">
                    <h5 class="card-title mb-1">{{cart.product.name}}</h5>
                    <p class="card-text pt-0">Rs.{{cart.product.price}}</p> 
                    <div class="row me">
                        <div class="col-2 ">
                            <div class="card-text ">Category:</div>
                            <div class="card-text ">Description:</div>
                        </div>
                        <div class="col-3 ">
                            <div class="card-text pt-0">{{cart.product.category.name}}</div>
                            <div class="card-text pt-0">{{cart.status}}</div>
                        </div>
                        <div class="col-2 ">
                            <div class="card-text pt-0">Quatity:</div>
                            <div class="card-text pt-0">Total:</div>
                        </div>
                        <div class="col-3 ">
                            <div class="card-text pt-0">{{cart.quantity}}</div>
                            <div class="card-text pt-0">{{cart.price}}</div>
                        </div>
            
                    </div>  
                    <a class="nav-link heart " href="{% url 'deletecart' cart.id %}">
                      <i class="fa fa-trash-o text-dark" style="font-size:30px;position:relative;top:-100px;right:-600px; "></i>
                    </a>
                    <a class="nav-link heart text-dark" href="#">
                      <i class="fa fa-heart heart-{{cart.id}}" style="font-size:26px;position:relative;top:-95px;right:-598px;"></i>
                    </a>
            </div>
    
                
    
            
        </div>
        </div>
        {% endfor %}
    
    </div>
    
    <div class="col-3">
    
        <div class="row  ">
        <div class="col-6 ">
        <div class="row-text ">Order value </div>

    
        <hr class=" w-100 mx-0 px-0 ">
        <div class="row-text ">Total   </div>
        </div>
        <div class="col-6 text-end">
            <div class="row-text ">{{sum}}</div>
        <hr class=" w-100 mx-0 px-0 ">
        <div class="row-text ">{{sum}}</div>
        </div>
        </div>
    

    </div>
               
    
      
    </div>


{% endblock %}