{% extends 'index.html' %}

{% block topmenu %}
<li class="nav-item ">
    <a class="nav-link" href="{% url 'events' sort='id' st='Up' %}">Events</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'showcat' %}">Categories</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'showmanagers' %}">Managers</a>
</li>
{% endblock %}

{% block content %}



<div class="row">
    <div class="col-10 text-left">
        <h2 class="mb-4">Event Managers</h2>
        
    </div>
    {%if request.user.is_superuser %}
    <div class="col-2 justify-content-end text-right">
        
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsecategory" aria-expanded="false" aria-controls="collapseExample">
            Add New Manager
          </button>
          
    </div> 
    <div class="col-12 text-left">
    <div class="collapse" id="collapsecategory">
        <div class="card card-body">
            <form action="{% url 'addManager' %}" method="post" class="form pt-5 pb-5" enctype="multipart/form-data" style="width: 50%; margin-left:25%">
                {% csrf_token %}
                <div class="row">
                <div class="col-6">
                    <label class="form-label" for="loginName">First Name</label>
                    <input type="text" name="fname" class="form-control" placeholder="Category Name" style="border: 1px solid rgba(0,0,0,.5);">
                </div>
                <div class="col-6">
                    <label class="form-label" for="loginName">Last Name</label>
                    <input type="text" name="lname" class="form-control" placeholder="Category Code"  style="border: 1px solid rgba(0,0,0,.5);">
                </div>
                <div class="col-12">
                    <label class="form-label mt-2" for="loginName">Username</label>
                    <input type="text" name="uname" class="form-control" placeholder="Category Name" style="border: 1px solid rgba(0,0,0,.5);">
            </div>

                <div class="col-12">
                    <label class="form-label mt-2" for="loginName">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Category Name" style="border: 1px solid rgba(0,0,0,.5);">
                    </div>


                
                
                    <div class="col-6">
                    <label class="form-label mt-2" for="loginName">Phone 1</label>
                    <input type="number" name="mob" class="form-control" placeholder="Category Name" style="border: 1px solid rgba(0,0,0,.5);">
                    </div>
                    <div class="col-6">
                        <label class="form-label mt-2" for="loginName">Phone 2</label>
                        <input type="number" name="amob" class="form-control" placeholder="Category Name" style="border: 1px solid rgba(0,0,0,.5);">
                    </div>

                <div class="col-6 mt-2 form-outline">
                    <label class="form-label mt-2" for="loginName">Email</label>
                    
                    <div class="form-outline  mt-2" >
                    <input  class="form-" type="radio" name="gender" id="male" value="male">
                    <label class="form-label" for="male">Male</label>
                    <input class="form-" type="radio" name="gender" id="female" value="female">
                    <label class="form-label" for="female">Female</label>
                    <input class="form-" type="radio" name="gender" id="other" value="other">
                    <label class="form-label" for="other">Other</label>                
                    </div>  
                </div>
                


                <div class="col-6 mt-2">
                <label class="form-label mt-2" for="loginName">Category Photo</label>
                <input type="file" name="image" class="form-control " accept="image/*">
                </div>
                </div>

                <div class="row pt-3">
                <button type="submit" class="col-lg-8 btn btn-outline-dark btn-block py-0 ml-3" >Submit</button>
                <div class="col-lg-3 justify-content-end text-right " style="margin-left:30px">
                    <a href="#collapsecategory"class="btn btn-primary btn-block btnd" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsecontent" >
                        <i class="fa-solid fa-rectangle-xmark"></i> Cancel
                    </a>
                </div> 
                </div>
                
                
            </form>
        </div>
        
      </div>
    </div> 
    {% endif %}
</div>

<div class="">
    
 <div class=" bg-light text-center m-5 pb-3  d-block" style="border-radius:20px">
    
    <table class="table  text-center table-bordered">
        <thead class="thead">
            <tr>
                <th>Name</th>
                <th width="150px">Photo</th>
                <th >Contact</th>
                <th>Gender</th>
                <th>Categories</th>
                <th>Ongoing Events</th>
                <th>Upcoming Events</th>
                <th>Status</th>
                <th width="100px" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in staffs %}
            {% if  request.user.is_staff %}
            <tr>
                <td>{{ i.first_name }}{{ i.last_name }}</td>
                    <td class="text-left "><img src="{{ i.image.url }}" class="w-100"></td>
                
                <td class="text-center">{{ i.email }}
                    <br>{{i.mobile}}
                    {% if not i.alt_mobile == None %}
                    <br>{{i.alt_mobile}}
                    {% endif %}

                </td>
                <td>
                    {{i.gender}}
                </td>
                
                
                <td>
                    {% for c in cat %}
                    {% if c.head == i %}
                    <a class="text" href="#">{{ c.name }}</a><br>
                    {% endif %}
                    {% endfor %}
                </td>
                
                <td>
                    {% for e in events %}
                    {% if e.manager == i %}
                    <a class="text" href="#">{{ e.name }}:-{{e.category.name}}</a><br>
                    {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for eup in eventsup %}
                    {% if eup.manager == i %}
                    <a class="text" href="#">{{ eup.name }}:-{{eup.category.name}}</a><br>
                    {% endif %}
                    {% endfor %}
                </td>

                {% if i.is_active %}
                <td>
                    <a rol="button" class="btn m-2 rounded" href="#">Active</a>
                    
                </td>
                {% else %}
                <td>
                    <a rol="button" class="btn m-2 rounded" href="#">Inactive</a>
                    
                </td>
                {% endif %}
                {% if i == request.user or request.user.is_superuser %}
                <td>
                    <a href="#"><i class="bx bx-edit-alt" style="font-size:30px;color:#28a745"></i></a>
                    
                </td>
                {% endif %} 
                {%if request.user.is_superuser %}
                    <td>
                        <a href="{% url 'deleteManager' i.id %}"><i class="bx bx-trash" style="font-size:30px;color:#dc3545"></i></a>
                    </td>
                {% endif %}  

            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>   
  </div>

</div>

</div>






{% endblock %}