{% load static %}
<!doctype html>
<html lang="en">
  <head>
	
  	<title>catering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
		<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

	{% block head %}
	{% endblock %}
	<style>
		.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #494ca2;
}
	</style>
  </head>
  <body style="background:#fff">
		
	<div class="wrapper d-flex align-items-stretch" >
		<nav id="sidebar" >
			<div class="p-4 pt-5">
				<h1><a href="#" class="logo">Catering & Events</a></h1>
		<ul class="list-unstyled components mb-5">
			<li  class="">
				<a href="{% url 'home' %}"><span class="bx bx-grid-alt mr-3"></span>Dashboard</a>
				
				
			</li>
			<li>
			<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="bx bx-list-ul mr-3"></span>Events</a>
			<ul class="collapse list-unstyled" id="homeSubmenu">
				<li>
					<a href="{% url 'events' sort='id' st='Up' %}">Show Events</a>
				</li>
			<li>
				<a href="{% url 'showcat' %}">Categories</a>
			</li>
			<li>
				<a href="{% url 'showmanagers' %}">Managers</a>
			</li>
			</ul>
		  </li>
		  
		  <li>
			<a href="#CatSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="bx bx-images mr-3"></span>Catering</a>
			<ul class="collapse list-unstyled" id="CatSubmenu">
			  <li>
				  <a href="{% url 'catlist' 'All' %}">Foods</a>
			  </li>
			  <li>
				  <a 
				{% if request.user.is_authenticated %}
					href="{% url 'showcart' request.user.id %}"
				{%else%}
					href="#"
					data-target="#exampleModalCenter"
					role="button"
					aria-expanded="false"
					data-toggle="modal"
				{%endif%}
				  >Cart</a>
			  </li>
			</ul>
			</li>

		  <li>
			<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="bx bx-images mr-3"></span>Gallery</a>
			<ul class="collapse list-unstyled" id="pageSubmenu">
			  <li>
				  <a href="#">Food</a>
			  </li>
			  <li>
				  <a href="#">Venues</a>
			  </li>
			</ul>
			</li>
			<li>
				<a href="#pageusers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="bx bxs-user-account mr-3"></span>Users</a>
				<ul class="collapse list-unstyled" id="pageusers">
				  <li>
					  <a href="#">Managers</a>
				  </li>
				  <li>
					  <a href="#">Customers</a>
				  </li>
				</ul>
				</li>
			
			<li>
				<a
				{% if request.user.is_authenticated %}
            		href="#"
            	{%else%}
					href="#"
					data-target="#exampleModalCenter"
					role="button"
					aria-expanded="false"
					data-toggle="modal"
            	{%endif%}
				
				><span class="bx bx-user mr-3"></span>Profile</a>
			</li>
		  <li>
			  <a href="#"><span class="bx bx-info-circle mr-3"></span>About</a>
		  </li>
		  <li>
			<a href="#"><span class="bx bxs-contact mr-3"></span>Contact Us</a>
		</li>	
		</ul>

		<div class="footer">
			<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="bx bxs-heart"></i></p>
		</div>

	  </div>
	</nav>

	<!-- Page Content  -->
  <div id="content" class="p-4  p-md-5">

	<nav class="navbar navbar-expand-lg navbar-light " >
	  <div class="container-fluid">

		<button type="button" id="sidebarCollapse" class="btn btn-primary">
		  <i class="fa fa-bars"></i>
		  <span class="sr-only">Toggle Menu</span>
		</button>
		<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa fa-bars"></i>
		</button>
		<!-- topmenu -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
		  <ul class="nav navbar-nav ml-auto" >
			{% block topmenu %}

			{% endblock %}
		  </ul>
		</div>
	  </div>
	</nav>
	{% block content %}
	{% endblock %}
  </div>
	</div>

	
<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="p-2 m-1 bg-light justify-content-center w-100">
            
            
            
            <div class="container  " style="width:100%;">
                
            <ul class="nav nav-pills nav-justified nav-pills-primary mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="false">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
                        Register
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="link1" aria-expanded="true">
                    <form method='post' class='post-form form' action="{% url 'login' %}">
                        {% csrf_token %}
                
                      
                
                      <!-- User Name input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="loginName">Username</label>
                        <input type="text" id="loginName" placeholder="Username" class="form-control" name="username" />
                      </div>
                
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="loginPassword">Password</label>
                        <input type="password" placeholder="Password" id="loginPassword" class="form-control" name="password" />
                      </div>
                
                      <!-- 2 column grid layout -->
                      <div class="row mb-4">
                        <div class="col-6 d-flex justify-content-center">
                          <!-- Checkbox -->
                          <div class="form-check mb-3 mb-md-0">
                            <input class="form-check-input" type="checkbox" value="" id="loginCheck"/>
                            <label class="form-check-label" for="loginCheck"> Remember me </label>
                          </div>
                        </div>
                
                        <div class="col-6 d-flex justify-content-center">
                          <!-- Simple link -->
                          <a href="#!">Forgot password?</a>
                        </div>
                      </div>
                      <div class="text-center">
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                    </div>
                    </form>
                </div>
            
                <div class="tab-pane" id="link2" aria-expanded="false">
                    <form action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                  
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerName">First Name</label>
                            <input type="text" id="registerName" name="first_name" class="form-control" placeholder="First Name" required>
                        </div>
            
                        <div class="form-outline mb-4">
                            <label class="form-label" for="registerLName">Last Name</label>
                            <input type="text" id="registerLName" name="last_name" class="form-control" placeholder="Last Name">
                        </div>
                        
                        <div class="form-outline mb-4">
                          <label class="form-label" for="registerA2">Address Line1</label>
                          <input type="text" id="registerA2" name="adrone" class="form-control" placeholder="Houseno/Flatno/Apartment">
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="registerA3">Address Line 2</label>
                        <input type="text" id="registerA3" name="adrtwo" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="registerA4">Address Line 3</label>
                      <input type="text" id="registerA4" name="adrthree" class="form-control" placeholder="Last Name">
                  </div>

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                          <label class="form-label" for="registerUsername">Username</label>
                          <input type="text" id="registerUsername" name="username" class="form-control" placeholder="Username" required>
                        </div>

                        <div class="form-outline mb-4 ">
                          <label class="form-label" for="phone">Phone Number</label>
                          <input type="number" id="phone" name="mobile" class="form-control" placeholder="Enter your mobile number" required>
                        </div>
                  
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <label class="form-label" for="registerEmail">Email</label>
                          <input type="email" id="registerEmail" name="email" class="form-control" placeholder="Email" required>
                        </div>
                  
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <label class="form-label" for="registerPassword">Password</label>
                          <input type="password" id="registerPassword" name="password" class="form-control" placeholder="Strong Password" required>
                        </div>
                  
                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                          <input type="password" id="registerRepeatPassword" name="cpassword" class="form-control" placeholder="Confirm Password" required>
                        </div>
            
                        <!-- Radio Gender input -->
                        <div class="form-outline mb-4 text-center" >
                            <input type="radio" name="gender" id="male" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" name="gender" id="female" value="Female">
                            <label for="female">Female</label>
                            <input type="radio" name="gender" id="Other" value="Female">
                            <label for="other">Other</label>
                        </div>
                        <div class="text-center">
                        <input class="form-check-input ml-5" type="checkbox" value="" id="registerCheck"
                            aria-describedby="registerCheckHelpText" required />
                            I have read and agree to the terms
                          
                        </div>
                  
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary" style="margin-left: 40%;">Submit</button>    
                      </form>
                    </div>
                
                </div>
            </div>
            <!--Grid column-->
            
            </div>
            <!--Grid row-->


        </div>
      </div>
    </div>
  </div>	

	<script>
		// TO MAKE THE MAP APPEAR YOU MUST
		// ADD YOUR ACCESS TOKEN FROM
		// https://account.mapbox.com
		mapboxgl.accessToken = 'pk.eyJ1IjoiZ29rdWxiaWp1MTQzMiIsImEiOiJjbDloam1nMDExMmkyM3BvMHQ0eGN6c2ZvIn0.gyT2dVNynuOnv1xk2lli5g';
		const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [76.34494672,10.01659938610],
        zoom: 11
    });
		

	map.addControl(
		new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		mapboxgl: mapboxgl
		})
);
	// Add the control to the map.
	map.on('render', function () {
    	map.resize();
		});
	map.on('load', function () {
    	map.resize();
		});
	</script>

    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/popper.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
  </body>
</html>