{% extends 'Events.html' %}
{% block event %}
<h2 class="mb-4">Event Categories</h2>

<div class="">
    
 <div class=" bg-light text-center m-5 pb-3  d-block" style="border-radius:20px">
    <div class="row">
        <div class="col-10 text-left">
            <h1 class="h1 pl-5 pb-2 pt-4 " >STUDENTS DETAILS</h1>
        </div>
        {%if True%}
        <div class="col-2 justify-content-end text-right">
            
            <a href="#collapseadd"class="btn  my-4 mx-5" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsecontent" >
                <i class="fa fa-plus-square" aria-hidden="true"></i> Add New Student
            </a>
            
        </div>  
        {% endif %}
    </div>
    <table class="table  text-center table-bordered">
        <thead class="thead">
            <tr>
                <th>Name</th>
                <th width="150px">Photo</th>
                <th >Code</th>
                <th>Lead</th>
                <th>Event</th>
                <th width="100px" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in cat %}
            {% if i.head == request.user or request.user.is_superuser %}
            <tr>
                <td>{{ i.name }}</td>
                    <td class="text-left "><img src="{{ i.image.url }}" class="w-100"></td>
                
                <td class="text-left">{{ i.code }}</td>
                <td>
                    {{i.head.first_name}} {{i.head.last_name}}<br>
                    <i class="fa-solid fa-square-phone"></i> {{i.head.mobile}}
                </td>
                <td>
                    <a rol="button" class="btn m-2 rounded" href="#">EDIT</a>
                    
                </td>
                <td>
                    <a rol="button" class="btn m-2 rounded" href="#">EDIT</a>
                    
                </td>
                {%if request.user.is_superuser %}
                    <td>
                        <a role="button" class="btn m-2 rounded  btnd" href="#">DELETE</a></td>
                    </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class="collapse text-left" id="collapseadd">
        {%if request.user.is_superuser%}
        <form action="#" method="post" class="form pt-5 pb-5" enctype="multipart/form-data" style="width: 50%; margin-left:25%">
            {% csrf_token %}
     
            <!-- <input type="number" name="adno" class="form-control" placeholder="Admission Number"><br> -->
            <input type="text" name="sname"class="form-control" placeholder="Category Name"><br>
            <input type="number" name="age" class="form-control" placeholder="Code"><br>
            <select class="form-control" name="sel">
                {% for staff in staffs %}
                <option value="{{ staff.id }}">{{ staff.first_name}}</option>
                {% endfor %}
            </select>
            <input type="file" name="file" class="form-control mt-3" accept="image/*">
            
            <div class="row pt-3">
            <button type="submit" class="col-8 btn btn-outline-info btn-block py-0 ml-3" >Submit</button>
            <div class="col-3 justify-content-end text-right " style="margin-left:30px">
                <a href="#collapsecontent"class="btn btn-success btn-block btnd" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsecontent" >
                    <i class="fa-solid fa-rectangle-xmark"></i> Cancel
                </a>
            </div> 
            </div>
            
        </form>
        {% endif %}
    </div>    
  </div>

</div>

</div>


{% endblock %}